<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %> - Used Cars USA</title>
    <meta name="robots" content="noindex, nofollow" />
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.ico" sizes="192x192" />
    <link
      rel="stylesheet"
      id="wp-block-library-css"
      href="https://klbtheme.com/harrier/wp-includes/css/dist/block-library/style.min.css?ver=6.1.7"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wc-blocks-vendors-style-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-vendors-style.css?ver=8.9.2"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wc-blocks-style-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-style.css?ver=8.9.2"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="classic-theme-styles-css"
      href="https://klbtheme.com/harrier/wp-includes/css/classic-themes.min.css?ver=1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="contact-form-7-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.7.2"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="jquery-colorbox-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/yith-woocommerce-compare/assets/css/colorbox.css?ver=1.4.21"
      type="text/css"
      media="all"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      id="tinvwl-webfont-font-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/ti-woocommerce-wishlist/assets/fonts/tinvwl-webfont.woff2?ver=xu2uyi"
      media="all"
    />
    <link
      rel="stylesheet"
      id="tinvwl-webfont-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/ti-woocommerce-wishlist/assets/css/webfont.min.css?ver=2.2.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="tinvwl-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/ti-woocommerce-wishlist/assets/css/public.min.css?ver=2.2.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wpcm_css_frontend-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/wp-car-manager/assets/css/frontend.css?ver=1.4.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="bootstrap-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/bootstrap.min.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="font-awesome-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/font-awesome.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="bootstrap-select-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/bootstrap-select.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="owl-carousel-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/owl.carousel.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="owl-theme-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/owl.theme.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="jquery-bxslider-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/jquery.bxslider.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="jquery-mobile-menu-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/jquery.mobile-menu.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="harrier-custom-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/custom.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="harrier-responsive-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/stylesheet/responsive.css?ver=1.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="harrier-font-teko-css"
      href="//fonts.googleapis.com/css?family=Teko:300,400,500,600,700&#038;subset=latin,latin-ext"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="harrier-font-opensans-css"
      href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800&#038;subset=latin,latin-ext"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="harrier-font-saira-css"
      href="//fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800&#038;subset=latin,latin-ext"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="harrier-style-css"
      href="https://klbtheme.com/harrier/wp-content/themes/harrier/style.css?ver=6.1.7"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="js_composer_front-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.10.0"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-includes/js/jquery/jquery.min.js?ver=3.6.1"
      id="jquery-core-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2"
      id="jquery-migrate-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.6.20"
      async
      id="tp-tools-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.6.20"
      async
      id="revmin-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.7.2.2"
      id="jquery-blockui-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=7.2.2"
      id="wc-add-to-cart-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=6.10.0"
      id="vc_woocommerce-add-to-cart-js-js"
    ></script>
  </head>

  <body
    class="home page-template-default page page-id-14 theme-harrier woocommerce-no-js tinvwl-theme-style wpb-js-composer js-comp-ver-6.10.0 vc_responsive"
  >
    <div id="page">
      <%- include('../partials/header') %>
      <div class="empty-klb"></div>
      <%- body %> <%- include('../partials/footer') %>
    </div>
    <div id="mobile-menu">
      <ul id="menu-menu-1" class="">
        <% routes.forEach(route => { %>
        <li
          class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1053"
        >
          <a href="<%= route.path %>" aria-current="page"><%= route.name %> </a>
        </li>
        <% }) %>
      </ul>
    </div>

    <script src="/bottom-script.js"></script>
    <script
      src="//code.tidio.co/hxkh7lerv7egol5ebcrlniggxyvzm7w5.js"
      async
    ></script>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script type="text/html" id="wpb-modifications"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400%7CSaira+Condensed:400%2C600%2C300%7COpen+Sans:400&display=swap"
      rel="stylesheet"
      property="stylesheet"
      media="all"
      type="text/css"
    />
    <link
      rel="stylesheet"
      id="rs-plugin-settings-css"
      href="https://klbtheme.com/harrier/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.6.20"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.7.2"
      id="swv-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.7.2"
      id="contact-form-7-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/custom/quick_ajax_vehicle.js?ver=1.0.0"
      id="qualis-quick-ajax-vehicle-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/cloud-zoom.js?ver=1.0.0"
      id="cloud-zoom-vehicle-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.7.2.2"
      id="js-cookie-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=7.2.2"
      id="woocommerce-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=7.2.2"
      id="wc-cart-fragments-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/yith-woocommerce-compare/assets/js/woocompare.min.js?ver=2.22.0"
      id="yith-woocompare-main-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/yith-woocommerce-compare/assets/js/jquery.colorbox-min.js?ver=1.4.21"
      id="jquery-colorbox-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/ti-woocommerce-wishlist/assets/js/public.min.js?ver=2.2.1"
      id="tinvwl-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-includes/js/comment-reply.min.js?ver=6.1.7"
      id="comment-reply-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/bootstrap.min.js?ver=1.0"
      id="bootstrap-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/bootstrap-slider.min.js?ver=1.0"
      id="bootstrap-slider-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/bootstrap-select.min.js?ver=1.0"
      id="bootstrap-select-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/parallax.js?ver=1.0"
      id="parallax-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/jquery.bxslider.min.js?ver=1.0"
      id="jquery-bxslider-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/owl.carousel.min.js?ver=1.0"
      id="owl-carousel-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/jquery.mobile-menu.min.js?ver=1.0"
      id="jquery-mobile-menu-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/countdown.js?ver=1.0"
      id="countdown-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/jquery.countdown.min.js?ver=1.0"
      id="jquery-countdown-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/common.js?ver=1.0"
      id="harrier-common-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/custom/quick_ajax_shop.js?ver=1.0.0"
      id="harrier-quick-ajax-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/cloud-zoom.js?ver=1.0.0"
      id="cloud-zoom-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.10.0"
      id="wpb_composer_front_js-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/wp-car-manager/assets/js/lib/select2.min.js?ver=1.4.3"
      id="wpcm_js_select2-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/plugins/wp-car-manager/assets/js/listings.min.js?ver=1.4.3"
      id="wpcm_js_listings-js"
    ></script>
    <script
      type="text/javascript"
      src="https://klbtheme.com/harrier/wp-content/themes/harrier/js/custom/countdown.js?ver=1.0"
      id="harrier-countdown-js"
    ></script>
    <script
      type="text/javascript"
      defer
      src="https://klbtheme.com/harrier/wp-content/plugins/mailchimp-for-wp/assets/js/forms.js?ver=4.8.12"
      id="mc4wp-forms-api-js"
    ></script>
  </body>
</html>
